.haxnews img {
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: -50px;
}

#hax img{
  margin-top: 10px !important;
}

h2 {
  padding-top: 40px;  
  padding: 35%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 40px;
}

body a{
  color: #1F18E8;
  font-weight: bold;
}

body a:hover {
  text-decoration: none;
}

.alert {
  margin-top: 60px;
}

.header {
  margin-bottom: 50px;
}

.jumbotron {
  position: relative;
}

.nav {
  padding-top: 15px;
}

.post_it {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

.marketing {
  border: 1px;
  border-color: white;
  box-shadow: 3px 3px 7px black;
  margin-top: 50px;
  padding: 5% !important;
}

.row {
  padding-top: 20px;
  padding: 10%;
}

.thread_wrapper {
  width: 40%;
  margin-bottom: 5%;
}

.comments {
  margin-left: 20%;
}

.drop-top-margin {
  margin-left: 20%;
  margin-top: 20%;
}

.comment-form-link {
  color: #1F18E8;
}

.comment-form-link:hover{
  cursor: pointer;
  color: #F50AEC;
}

.comment-form {
  display: none;
}

.btn-default:hover {
  background: #F50AEC !important;
  color: white !important;
}

.active a {
  background-color: #F50AEC !important; 
  color: white;
}
